.header{
    height: 45px;
    width: 100%;
    background-color: #f1f1f1;
    display: flex;

}
.fullname{
    margin: auto 30px auto auto;
}
.brandName{
    color: black;
    font-family: "Arial Black";
    cursor: pointer;
    margin: auto auto auto 30px;

}
